In [2]:
import pandas as pd

df = pd.read_csv("data/notion-weight-tracking-raw.csv")

df.head()

,Name,Week,Date,Day,Sleep Hrs,Weight KG,Meditate,Visualize,Excercise,Music,...,Reading,Progress Pic,BodyFat,MuscleMass,Hydration,BMI,Journal,Belly (in),Hips (in),Thighs (in) combined
0,2025-01-15,NaN,"January 15, 2025",Wednesday,0.0,90.00,No,No,No,No,...,No,Daily%20Tracking%2018b4c69ec330443bb910f1ce8bd...,NaN,NaN,NaN,NaN,NaN,41.0,41.0,50.0
1,2024-10-04,NaN,"October 4, 2024",Friday,0.0,83.30,No,No,No,No,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shopping,NaN,"August 15, 2024",Thursday,0.0,NaN,No,No,No,No,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-08-15,NaN,"August 15, 2024",Thursday,0.0,81.60,No,No,No,No,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-07-29,NaN,"July 29, 2024",Monday,0.0,82.15,No,No,No,No,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Step 1: Extract just the date and weight columns
notion_weight_df = df[['Date', 'Weight KG']].copy()

# Step 2: Convert 'Date' to datetime format
notion_weight_df['Date'] = pd.to_datetime(notion_weight_df['Date'], errors='coerce')

# Step 3: Drop any rows where date or weight is missing
notion_weight_df = notion_weight_df.dropna(subset=['Date', 'Weight KG'])

# Step 4: Sort by date (optional but useful for visualizations later)
notion_weight_df = notion_weight_df.sort_values(by='Date').reset_index(drop=True)

# Optional: Rename columns to standardize for merging later
notion_weight_df.rename(columns={'Date': 'date', 'Weight KG': 'weight'}, inplace=True)

In [12]:
notion_weight_df.head()

        date  weight
0 2020-12-27    71.5
1 2020-12-28    70.5
2 2020-12-29    70.7
3 2020-12-30    71.1
4 2020-12-31    70.8

In [13]:
# Save the cleaned DataFrame to CSV
notion_weight_df.to_csv('./data/notion_weight_cleaned.csv', index=False)